<h2 style="text-align: center; font-weight: bold">Cadastro de Parceiros e Usuários:</h2>
<hr>
<div class="opcoes">
    <a href="/admin/parceiros/add"><button class="btn btn-success">Novo Parceiro</button></a>
    <a href="/admin/registro"><button class="btn btn-success">Novo Usuário</button></a>
    <a href="/admin/parceiros"><button class="btn btn-success">Parceiros</button></a>
</div>


<style>
    .opcoes {
        display: flex;
        justify-content: space-between;
    }
</style>