<h2 style="text-align: center;">Cadastro de Parceiros e Usuários</h2>
<hr>
<a href="admin/parceiros/add"><button class="btn btn-success">Novo Parceiro</button></a> 
<a href="admin/registro"><button class="btn btn-success">Novo Usuário</button></a> 
<a href="admin/parceiros"><button class="btn btn-success">Parceiros</button></a> 

{{#each parceiros}}
    
{{else}}
  <h4 class="mt-3">Nenhum registro feitooo!</h4>
{{/each}}