<div class="p-5 text-center" style="background-color: #B37452;">

    <img src="/img/GreenConnect.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-center">

    <h1>Green Connect</h1>

    <p>Entre em contato conosco para se tornar nosso parceiro:</p>
    <p><a href="mailto:greenconnect@lifegood.org.br" class="life">greenconnect@lifegood.org.br</a></p>
</div>

<style>
    h1 {
        text-align: center;
        color: #2AFF72;
        margin-bottom: 20px;
    }

    p {
        text-align: center;
        font-size: 18px;
        color: #F7FFF2;
        margin-bottom: 20px;
    }

    .life {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        color: #FFF;
        text-decoration: none;
        padding: 10px 30px;
        background-color: #4CAF50;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .life:hover {
        background-color: #45A049;
    }
</style>