<div class="p-5 text-center" style="background-color: #B37452;">
    <img src="/img/GreenConnect.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-center">
    <h1>Green Connect</h1>
    <p >
        &nbsp;&nbsp;&nbsp;&nbsp; A Green Connect acredita que o meio ambiente é uma parte essencial da vida humana e que a nossa relação com ele
        deve ser cuidadosa e equilibrada. Por isso, a marca se compromete a fornecer produtos e serviços que sejam
        sustentáveis, orgânicos e livres de crueldade animal. A Green Connect se esforça para fazer a diferença em prol
        do planeta e incentivar as pessoas a adotarem um estilo de vida mais consciente. <br>

        &nbsp;&nbsp;&nbsp;&nbsp; O público-alvo da Green Connect são pessoas que buscam um estilo de vida sustentável e saudável, incluindo
        veganos, vegetarianos, adeptos da alimentação orgânica, praticantes de atividades físicas, entre outros.
    </p>
    
</div>

<style>
    h1 {
      text-align: center;
      color: #25E665;
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      font-size: 18px;
      color: #F7FFF2;
      margin-bottom: 20px;
    }
</style>