<div class="card mt-4">
  <div class="card-body ">
    <h2 style="text-align: center; font-weight: bold; color:#0FBD20">{{parceiros.corporatename}}</h2>
    <hr>
    <div class="image">
      <img  src="/uploads/{{parceiros.image}}" alt="..." height="200" width="200">
    </div>
    <hr>
    <p style="margin-top:10px" > <span style="font-weight:bold; color:#0FBD20">Sobre a empresa:</span><br>{{parceiros.describe}}</p>

    <hr>
    <p><span style="font-weight:bold; color:#0FBD20">Redes sociais:</span>
    <ul style="display:flex;justify-content: center;  align-itens: center; list-style: none">
      <li style="margin-right: 20px"><a href="/" target="_blank"><img src="/img/facebook.png" width="30" height="30" alt="Facebook"></a></li>
      <li style="margin-right: 20px"><a href="/" target="_blank"><img src="/img/instagram.png" width="30" height="30" alt="Instagram"></a></li>
      <li style="margin-right: 20px"><a href="/" target="_blank"><img src="/img/whatsapp.png" width="30" height="30" alt="Whatsapp"></a></li>
    </ul>
      
    </p>
    <hr>

    <script defer src="https://cdn.commento.io/js/commento.js"></script>
    <p> <span style="font-weight:bold; color:#0FBD20">Deixe seu comentário:</span> </p>
    <div id="commento"></div>
    <hr>
    <a href="/usuarios/lojas" style="text-align: center;"><button class="btn btn-success">Voltar</button></a>
  </div>
</div>
<style>
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ajuste a altura conforme necessário */
  }
  
</style>